
.container {
  width: 100%;
  font-size: 14px;
  display: flex;
}

.left-content {
  width: 80%;
  height: 1100px;
}

.right-content {
  width: 20%;
}
.show {
  width: 20%;
  height: 100px;
  background-color: red;
  }
#show-scroll{
  width: 100%;
  background-color: red;

}
.general{
    background-color: yellow;
    border: 1px solid black;
    height: 520px;
    margin-top:60px;
}


