/*== Responsive ==*/
$res_320_down 		: "only screen and(max-width: 319px)";
$res_375_down 		: "only screen and(max-width: 374px)";
$res_425_down 		: "only screen and(max-width: 424px)";
$res_768_down 		: "only screen and(max-width: 767px)";
$res_992_down 		: "only screen and(max-width: 991px)";
$res_1024_down 		: "only screen and(max-width: 1023px)";
$res_1100_down 		: "only screen and(max-width: 1099px)";
$res_1200_down 		: "only screen and(max-width: 1199px)";
$res_1366_down 		: "only screen and(max-width: 1365px)";
$res_1680_down 		: "only screen and(max-width: 1679px)";

$res_320_up 		: "only screen and(min-width: 320px)";
$res_375_up 		: "only screen and(min-width: 375px)";
$res_425_up 		: "only screen and(min-width: 425px)";
$res_768_up 		: "only screen and(min-width: 768px)";
$res_992_up 		: "only screen and(min-width: 992px)";
$res_1024_up 		: "only screen and(min-width: 1024px)";
$res_1100_up 		: "only screen and(min-width: 1100px)";
$res_1200_up 		: "only screen and(min-width: 1200px)";
$res_1366_up 		: "only screen and(min-width: 1366px)";
$res_1680_up 		: "only screen and(min-width: 1680px)";

$res_320_middle 	: "only screen and(min-width: 320px) and(max-width: 374px)";
$res_375_middle 	: "only screen and(min-width: 375px) and(max-width: 424px)";
$res_425_middle 	: "only screen and(min-width: 425px) and(max-width: 767px)";
$res_768_middle 	: "only screen and(min-width: 768px) and(max-width: 991px)";
$res_992_middle 	: "only screen and(min-width: 992px) and(max-width: 1023px)";
$res_1024_middle 	: "only screen and(min-width: 1024px) and(max-width: 1099px)";
$res_1100_middle 	: "only screen and(min-width: 1100px) and(max-width: 1365px)";
$res_1200_middle 	: "only screen and(min-width: 1200px) and(max-width: 1365px)";
$res_1366_middle 	: "only screen and(min-width: 1366px) and(max-width: 1679px)";