/*== Mixins ==*/
@mixin responsive_320_down(){
	@media #{$res_320_down}{
		@content;
	}
}

@mixin responsive_375_down() {
	@media #{$res_375_down} {
		@content
	}
}

@mixin responsive_425_down() {
	@media #{$res_425_down} {
		@content
	}
}

@mixin responsive_768_down() {
	@media #{$res_768_down} {
		@content
	}
}

@mixin responsive_992_down() {
	@media #{$res_992_down} {
		@content;
	}
}

@mixin responsive_1024_down() {
	@media #{$res_1024_down} {
		@content;
	}
}

@mixin responsive_1100_down() {
	@media #{$res_1100_down} {
		@content;
	}
}

@mixin responsive_1200_down() {
	@media #{$res_1200_down} {
		@content;
	}
}

@mixin responsive_1366_down() {
	@media #{$res_1366_down} {
		@content;
	}
}

@mixin responsive_1680_down() {
	@media #{$res_1680_down} {
		@content;
	}
}

@mixin responsive_320_up(){
	@media #{$res_320_up}{
		@content;
	}
}

@mixin responsive_375_up() {
	@media #{$res_375_up} {
		@content
	}
}

@mixin responsive_425_up() {
	@media #{$res_425_up} {
		@content
	}
}

@mixin responsive_768_up() {
	@media #{$res_768_up} {
		@content
	}
}

@mixin responsive_992_up() {
	@media #{$res_992_up} {
		@content;
	}
}

@mixin responsive_1024_up() {
	@media #{$res_1024_up} {
		@content;
	}
}

@mixin responsive_1100_up() {
	@media #{$res_1100_up} {
		@content;
	}
}

@mixin responsive_1200_up() {
	@media #{$res_1200_up} {
		@content;
	}
}

@mixin responsive_1366_up() {
	@media #{$res_1366_up} {
		@content;
	}
}

@mixin responsive_1680_up() {
	@media #{$res_1680_up} {
		@content;
	}
}

@mixin responsive_320_middle(){
	@media #{$res_320_middle}{
		@content;
	}
}

@mixin responsive_375_middle() {
	@media #{$res_375_middle} {
		@content
	}
}

@mixin responsive_425_middle() {
	@media #{$res_425_middle} {
		@content
	}
}

@mixin responsive_768_middle() {
	@media #{$res_768_middle} {
		@content
	}
}

@mixin responsive_992_middle() {
	@media #{$res_992_middle} {
		@content;
	}
}

@mixin responsive_1024_middle() {
	@media #{$res_1024_middle} {
		@content;
	}
}

@mixin responsive_1100_middle() {
	@media #{$res_1100_middle} {
		@content;
	}
}

@mixin responsive_1200_middle() {
	@media #{$res_1200_middle} {
		@content;
	}
}

@mixin responsive_1366_middle() {
	@media #{$res_1366_middle} {
		@content;
	}
}