/*=== Color ===*/

$header-color:#ca1b1b;

$header-icon-color:red;

$header-color2:#2b2b2b;

$background-top:#000;

$background-top-header: #141517;

$header-color-top: #c0c0c0;

$admin-bar-color: #ff0000;

$header-color-top-h1:#fff;

$btn-search-color:#FD3A13;

$background-banner:#EBEBEB;

$badge-danger:#dc3545;

$box-color:grey;

/*=== End Color ===*/

$cursor: pointer;

$float-left: left;

$float-right: right;

$position-relative: relative;

$position-absolute: absolute;


