/*== Responsive ==*/
/*== Mixins ==*/
/*=== Color ===*/
/*=== End Color ===*/
.small-top {
  border-bottom: 1px solid #2b2b2b;
  width: 100%;
  background: #000;
  padding-left: 248px; }

.icon-header {
  color: #ca1b1b;
  float: right; }
  .icon-header a {
    border-left: 1px solid #2b2b2b;
    color: #ca1b1b;
    float: left;
    padding: 6px 13px; }
    .icon-header a:hover {
      cursor: pointer;
      color: red; }
  .icon-header .td {
    text-decoration: none; }

.top-header {
  background: #141517;
  width: 100%;
  float: left;
  height: 100px; }
  .top-header h1 {
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    margin: 18px 0 0; }
  .top-header small {
    color: #c0c0c0;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 5px; }
  .top-header .admin-bar {
    margin-top: 22px;
    text-align: right;
    font-size: 16px; }
    .top-header .admin-bar i {
      color: #c0c0c0; }
      .top-header .admin-bar i:hover {
        color: #ff0000;
        cursor: pointer; }
    .top-header .admin-bar span {
      background: #ff0000;
      border: 3px solid #141517;
      border-radius: 50%;
      height: 14px;
      position: absolute;
      right: 3px;
      top: 13px;
      width: 14px;
      z-index: 1; }
    .top-header .admin-bar a {
      line-height: 49px;
      position: relative;
      padding: 0 7px;
      color: #fff; }
      .top-header .admin-bar a:hover {
        color: #ff0000; }
    .top-header .admin-bar nav {
      display: flex;
      padding-left: 10px; }
    .top-header .admin-bar img {
      float: right;
      height: 50px;
      width: 50px;
      margin-left: 18px; }

.top-nav {
  position: absolute;
  top: 129px;
  width: 100%;
  background: #fff;
  z-index: 100; }
  .top-nav .navbar-nav {
    display: inline;
    padding: 12px;
    height: 70px;
    padding-top: 3px; }
    .top-nav .navbar-nav li {
      padding: 7px;
      padding-top: 5px; }
    .top-nav .navbar-nav .nav-item a:hover {
      border-bottom: 2px solid #FD3A13;
      background: #fff; }
    .top-nav .navbar-nav .active a {
      border-bottom: 2px solid #FD3A13; }
    .top-nav .navbar-nav .nav-link {
      color: #000;
      font-weight: bolder;
      font-size: 15px;
      padding-top: 10px; }
  .top-nav .btn-search {
    background: #FD3A13;
    border-color: #FD3A13;
    color: #fff;
    padding: 9px 10px; }
  .top-nav .ml-auto {
    display: flex-end;
    position: absolute;
    top: 21px;
    right: 8px;
    z-index: 100; }
  .top-nav .box {
    position: absolute;
    top: 0px;
    height: 40px;
    border-radius: 5px;
    right: 8px; }
    .top-nav .box .input_box {
      border: none;
      outline: none;
      background: none;
      float: left;
      padding: 0;
      color: grey;
      font-size: 16px;
      transition: 1s;
      line-height: 35px;
      width: 0px;
      position: absolute;
      top: 0;
      right: 0;
      transition: 0.4s; }
    .top-nav .box .btn {
      float: right;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background: #FD3A13;
      position: relative;
      top: 0;
      z-index: 8; }
      .top-nav .box .btn i {
        font-size: 17px;
        position: absolute;
        top: 11px;
        left: 13px;
        color: #fff; }
    .top-nav .box:hover .input_box {
      width: 240px;
      padding: 0 8px;
      display: block;
      border: 1px solid #c0c0c0;
      position: absolute;
      top: 0px;
      background: #c0c0c0; }

.banner {
  position: absolute;
  top: 198px;
  width: 100%;
  background: #EBEBEB;
  height: 300px;
  padding-top: 22px; }
  .banner .card-small {
    background: #fff;
    padding-top: 5px;
    margin-bottom: 20px;
    padding-left: 13px;
    height: 110px; }
    .banner .card-small .badge-danger {
      color: #EBEBEB;
      background-color: #dc3545; }
    .banner .card-small .badge-pill {
      padding-right: .6em;
      padding-left: .6em;
      border-radius: 10rem; }
    .banner .card-small .badge {
      display: inline-block;
      padding: .25em .4em;
      font-size: 75%;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: 1.25rem; }
    .banner .card-small a {
      color: #000;
      padding-left: 7px; }
      .banner .card-small a p {
        padding-left: 10px; }
    .banner .card-small .text-time {
      color: #ff0000;
      font-weight: 546;
      padding-top: -20px;
      font-size: 15px;
      position: absolute;
      top: 80px;
      padding-left: 15px; }
    .banner .card-small h3 {
      color: #ff0000;
      font-size: 15px;
      font-weight: 546;
      position: absolute;
      top: 190px;
      padding-left: 15px; }

.content {
  position: absolute;
  top: 498px;
  width: 100%;
  position: absolute;
  display: flex; }
  .content .article1 .content-left .card5, .content .article1 .content-right .card5 {
    display: block;
    margin-bottom: 35px; }
    .content .article1 .content-left .card5 .new-title a, .content .article1 .content-right .card5 .new-title a {
      font-size: 17px;
      color: #141517;
      font-weight: 500; }
    .content .article1 .content-left .card5 .new-content p, .content .article1 .content-right .card5 .new-content p {
      text-align: justify; }
    .content .article1 .content-left .card5 .new-content em, .content .article1 .content-right .card5 .new-content em {
      color: red;
      font-size: 15px;
      font-weight: 500; }
  .content .article1 .title {
    width: 100%;
    border-bottom: 2px solid #141517;
    font-size: 28px;
    padding: 0 0 6px;
    margin: 0 0 18px; }

.side-bar .nav-tabs {
  font-size: 17px; }
  .side-bar .nav-tabs li a {
    color: #141517; }
    .side-bar .nav-tabs li a:hover {
      border-bottom: 2px solid #ff0000;
      color: #141517; }

.side-bar .media-body .title-small {
  font-size: 17px; }

.side-bar .media-body a {
  color: #141517; }

.side-bar .media a span {
  white-space: nowrap; }

aside .video-sec h4 {
  font-size: 20px; }

aside .video-sec .border {
  padding-top: 10px;
  margin-bottom: 17px;
  border-bottom: 2px solid #141517; }

aside .video-sec .video {
  width: 350px;
  height: 250px; }
