@mixin content($position,$top,$width) {
    position: $position;
    top: $top;
    width: $width;
}
.top-nav{
    @include content($position-absolute,129px,100%);
    background: $header-color-top-h1;
    z-index: 100;
    .navbar-nav{
        display: inline;
        padding: 12px;
        height: 70px;
        padding-top: 3px;
        li{
           padding: 7px;
           padding-top:5px;
        }
        .nav-item{
              a{
                &:hover{
                    border-bottom: 2px solid $btn-search-color;
                    background: $header-color-top-h1;
                }
              }
        }
        .active{
            a{
                border-bottom: 2px solid $btn-search-color;
            }
        }
        .nav-link{
            color:$background-top;
            font-weight: bolder;
            font-size: 15px;
            padding-top: 10px;
        }
    }
    .btn-search{
        background: $btn-search-color;
        border-color: $btn-search-color;
        color: $header-color-top-h1;
        padding: 9px 10px;
    }
    .ml-auto{
        display: flex-end;
         position: $position-absolute;
         top:21px;
         right:8px;
         z-index: 100;
     }
     .box{
            position: $position-absolute;
             top: 0px;
             height: 40px;
             border-radius: 5px;
             right: 8px;
                 .input_box{
                     border: none;
                     outline: none;
                     background:none;
                     float: left;
                     padding: 0;
                     color: $box-color;
                     font-size: 16px;
                     transition: 1s ;
                     line-height: 35px;
                     width: 0px;
                     position: $position-absolute;
                     top:0;
                     right:0;
                     transition: 0.4s;
 
                 }
                 .btn {
                     float: right;
                     width: 40px;
                     height: 40px;
                     line-height: 40px;
                     text-align: center;
                     background: $btn-search-color;
                     position: $position-relative;
                     top:0;
                     z-index:8;
                     i{
                         font-size: 17px;
                         position: $position-absolute;
                         top: 11px;
                         left: 13px;
                         color:  $header-color-top-h1;
     
                      }
                  }
                  &:hover {
                 .input_box{
                     width: 240px;
                     padding: 0 8px;
                     display: block;
                     border: 1px solid $header-color-top;
                     position: $position-absolute;
                     top:0px;
                     background: $header-color-top;
                     }
                 } 
     }
    }
.banner{
    @include content($position-absolute,198px,100%);
    background: $background-banner;
    height: 300px;
    padding-top:22px;
    .card-small
    {
        background:$header-color-top-h1 ;
        padding-top: 5px;
        margin-bottom: 20px;
        padding-left: 13px;
        height: 110px;
        .badge-danger{
            color: $background-banner;
            background-color:$badge-danger;
        }
        .badge-pill{
            padding-right: .6em;
            padding-left: .6em;
            border-radius: 10rem;
        }
        .badge{
            display: inline-block;
            padding: .25em .4em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: 1.25rem;
        }
        a{
            color: $background-top;
            padding-left: 7px;
            p{            
               padding-left: 10px;
            }
        }
        .text-time{
            color: $admin-bar-color;
            font-weight: 546; 
            padding-top: -20px;
            font-size: 15px;
            position: $position-absolute;
            top:80px; 
            padding-left:15px;      
        }
        h3{
            color: $admin-bar-color;
            font-size: 15px;
            font-weight: 546; 
            position: $position-absolute;
            top:190px;
            padding-left:15px;     
        }
    }
}
.content {
    @include content($position-absolute,498px,100%);
    position: $position-absolute;
    display: flex;
    .article1 {
        %general {
            display: block;
            margin-bottom: 35px;
            .new-title {
                a {
                    font-size: 17px;
                    color: $background-top-header;
                    font-weight: 500;
                }
            }
            .new-content {
                p {
                    text-align: justify;
                }
                em {
                    color: red;
                    font-size: 15px;
                    font-weight: 500;
                }
            }
        }
        .title {
            width: 100%;
            border-bottom: 2px solid $background-top-header;
            font-size: 28px;
            padding: 0 0 6px;
            margin: 0 0 18px;
        }
        .content-left {
            .card5 {
                @extend %general;
            }
        }
        .content-right {
            .card5 {
                @extend %general;
            }
        }
    }
}

.side-bar {
    .nav-tabs {
        font-size: 17px;
        li {
            a {
                color: $background-top-header;
                &:hover {
                    border-bottom: 2px solid $admin-bar-color;
                    color: $background-top-header;
                }
            }
        }
    }
    .media-body{
        .title-small{
            font-size: 17px;          
        }
        a{
            color:$background-top-header;
        }
    }
    .media {
        a {
            span {
                white-space: nowrap;
            }
        }
    }
}

aside {
    .video-sec {
        h4 {
            font-size: 20px;
        }
        .border {
            padding-top: 10px;
            margin-bottom: 17px;
            border-bottom: 2px solid $background-top-header;
        }
        .video {
            width: 350px;
            height: 250px;
        }

    }
}