.small-top
{
  	border-bottom: 1px solid $header-color2;
    width: 100%;
    background: $background-top;
    padding-left: 248px;
}
.icon-header
{
	color: $header-color;
  float: $float-right;
	a{
	      border-left: 1px solid $header-color2;
        color: $header-color ;
        float: $float-left;
        padding: 6px 13px;
          &:hover{
            cursor: $cursor;
            color:$header-icon-color;
          }
  }
  .td{
    text-decoration: none;
  }
}
.top-header
{
	  background: $background-top-header;
    width: 100%;
    float: $float-left;
    height: 100px;
    h1{
      color: $header-color-top-h1;
      font-size:36px;
      font-weight: 600;
      margin:18px 0 0;
    }
    small
    {
	     color: $header-color-top;
	     font-size:14px;
	     margin-top: 5px;
	     margin-left:5px; 
    }
    .admin-bar
    {
      margin-top:22px;
      text-align: right;
      font-size: 16px;
      i{
       color: $header-color-top;
       &:hover{
         color: $admin-bar-color;
         cursor:$cursor;
       }
      }
      span{
        background: $admin-bar-color;
        border: 3px solid $background-top-header;
        border-radius: 50%;
        height: 14px;
        position: $position-absolute;
        right: 3px;
        top: 13px;
        width: 14px;
        z-index: 1;
      }
      a{
          line-height: 49px;
          position: $position-relative;
          padding: 0 7px;
          color:$header-color-top-h1;
          &:hover{
            color: $admin-bar-color;
          }
      }
      nav{
        display: flex;
        padding-left: 10px;
      }
      img{
        float:right;
        height: 50px;
        width: 50px;
        margin-left: 18px;
      }
    }
}


